---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
---
You can also find latest updated list of my articles on <u><a href="https://scholar.google.com/citations?user=uXhMEBsAAAAJ&hl=en&oi=ao">my Google Scholar profile</a>.</u> 

My Erdős number is <u><a href="https://www.csauthors.net/distance/waleed-iqbal/paul-erdos">Four</a>.</u>

<h2>Conferences</h2>
<h3>2023</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Vahid Ghafouri, Gareth Tyson, Guillermo Suarez-Tangil and Ignacio Castro. Lady and the Tramp Nextdoor: Online Manifestations of Real-World Inequalities in the Nextdoor Social Network. In 17th International AAAI Conference on Web and Social Media <b>(ICWSM)</b>, Limassol, Cyprus (2023). [Winter Acceptance Rate: 7%]</li>
</ol>
<h3>2022</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Muhammad Haseeb Arshad, Gareth Tyson, and Ignacio Castro. "Exploring Crowdsourced Content Moderation Through Lens of Reddit during COVID-19. In 17th Asian Internet Engineering Conference <b>(AINTEC)</b>, Hiroshima, Japan, (2022).</li>
</ol>
<h3>2021</h3>
<ol>
  <li>Stephen McQuistin, Mladen Karan, Prashant Khare, Colin Perkins, Gareth Tyson, Matthew Purver, Patrick Healey, <b>Waleed Iqbal</b>, Junaid Qadir and Ignacio Castro. Characterising the IETF Through the Lens of RFC Deployment. In 21st ACM Internet Measurement Conference <b>(IMC)</b>, Virtual (2021). [Acceptance Rate: 28%]</li>
</ol>
<h3>2020</h3>
<ol>
  <li>Rana Tallal Javed, Mirza Elaaf Shuja, Muhammad Usama, Junaid Qadir, <b>Waleed Iqbal</b>, Gareth Tyson, Ignacio Castro, Kiran Garimella. A First Look at COVID-19 Messages on WhatsApp in Pakistan. In 12th IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining <b>(ASONAM)</b>, The Hague, Netherlands (2020). [Acceptance Rate: 17%]</li>
</ol>

<h2>Posters</h2>
<h3>2022</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Gareth Tyson, Vahid Ghafouri, Guillermo Suarez-Tangil, and Ignacio Castro. "Exploring online manifestations of real-world inequalities. In 22nd ACM Internet Measurement Conference <b>(IMC)</b>, Nice, France, (2022).</li>
  <li>Stephen McQuistin, Mladen Karan, Prashant Khare, Colin Perkins, Gareth Tyson, Matthew Purver, Patrick Healey, <b>Waleed Iqbal</b>, Junaid Qadir and Ignacio Castro. Characterising the IETF Through the Lens of RFC Deployment. In 21st ACM Internet Measurement Conference <b>(IMC)</b>, Virtual (2021).</li>
</ol>

<!-- {% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %} -->
