---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://waleediqbal411.github.io/waleed_cv.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Waleed Iqbal</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><a href="mailto:w.iqbal@qmul.ac.uk">Email</a>  | <a href="http://www.twitter.com/waleediqbal411">Twitter</a> | <a href="https://scholar.google.com/citations?hl=en&user=uXhMEBsAAAAJ">Google Scholar</a></span></p>

<h2 class="western">Education:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Doctor of Philosophy (Ph.D.), </b></span><strong><span style="font-size: medium;"><b>Computer Science</b></span></strong><span style="font-size: medium;"><b>, Queen Mary University of London, UK</b></span>
<ul>
  <li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> January 2020 to Present</span></li>
  <li><b><span style="font-size: medium;">Research Topic:</b></span><span style="font-size: medium;"> Online Manifestations of Real-World Inequalities.</span></li>
  <li><span style="font-size: medium;"><b>Advisors:</b></span><span style="font-size: medium;"> Dr. Ignacio Castro and Dr. Gareth Tyson</span></li>
</ul>
</li>
</ul>

<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.S., </b></span><strong><span style="font-size: medium;"><b>Computer Science</b></span></strong><span style="font-size: medium;"><b>, Information Technology University, Lahore, Pakistan</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> June 2018</span></li>
  <li><b><span style="font-size: medium;">Graduate Thesis:</b></span><span style="font-size: medium;"> Analysis of Computer Networking Research: An Bibliometric Study.</span></li>
  <li><span style="font-size: medium;"><b>Advisor: </b>Prof.</span><span style="font-size: medium;"> Dr. Junaid Qadir</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.Sc., Electrical Engineering,</b> <b>University of the Punjab</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date: </b></span></strong><span style="font-size: medium;">March 2014</span></li>
  <li><span style="font-size: medium;"><b>Final Year Project</b>: Analysis of VoIP Structure and Standards: Deployment of an Open Source VoIP Network for an Organization with Enhanced Services.</li></span>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Teaching Fellow</b>, Queen Mary University of London, UK (September 2022 to present)</span></li>
  <li><span style="font-size: medium;"><b>Ph.D Research Assistant</b>, Queen Mary University of London, UK (January 2020 to present)</span></li>
  <li><span style="font-size: medium;"><b>Laboratory Demonstrator</b>, Queen Mary University of London, UK (September 2020 to December 2022)</span></li>
  <li><span style="font-size: medium;"><b>Teaching and Research Assistant</b>, Information Technology University Lahore, Pakistan (November 2015 - December 2019)</span></li>
  <li><span style="font-size: medium;"><b>Consultant, VoIP Services </b>, Net2Soft Technologies (March 2014 to October 2015)</span></li>
  <li><span style="font-size: medium;"><b>Summer Engineering Intern </b>, PTCL, Lahore (August 2011 to September 2011)</span></li>
</ul>
<h2>Publications</h2>
<h3>Conferences</h3>
<h3>2023</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Vahid Ghafouri, Gareth Tyson, Guillermo Suarez-Tangil and Ignacio Castro. Lady and the Tramp Nextdoor: Online Manifestations of Real-World Inequalities in the Nextdoor Social Network. In 17th International AAAI Conference on Web and Social Media <b>(ICWSM)</b>, Limassol, Cyprus (2023). [Winter Acceptance Rate: 7%]</li>
</ol>
<h3>2022</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Muhammad Haseeb Arshad, Gareth Tyson, and Ignacio Castro. "Exploring Crowdsourced Content Moderation Through Lens of Reddit during COVID-19. In 17th Asian Internet Engineering Conference <b>(AINTEC)</b>, Hiroshima, Japan, (2022).</li>
</ol>
<h3>2021</h3>
<ol>
  <li>Stephen McQuistin, Mladen Karan, Prashant Khare, Colin Perkins, Gareth Tyson, Matthew Purver, Patrick Healey, <b>Waleed Iqbal</b>, Junaid Qadir and Ignacio Castro. Characterising the IETF Through the Lens of RFC Deployment. In 21st ACM Internet Measurement Conference <b>(IMC)</b>, Virtual (2021). [Acceptance Rate: 28%]</li>
</ol>
<h3>2020</h3>
<ol>
  <li>Rana Tallal Javed, Mirza Elaaf Shuja, Muhammad Usama, Junaid Qadir, <b>Waleed Iqbal</b>, Gareth Tyson, Ignacio Castro, Kiran Garimella. A First Look at COVID-19 Messages on WhatsApp in Pakistan. In 12th IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining <b>(ASONAM)</b>, The Hague, Netherlands (2020). [Acceptance Rate: 17%]</li>
</ol>
<h3>2016</h3>
<ol>
  <li>Adnan Noor Mian, Sheeraz A. Alvi, Raees Khan, Muhammad Zulqarnain, and <b>Waleed Iqbal</b>. Experimental study of link quality in IEEE 802.15.4 using Z1 Motes. In 12th International Wireless Communications and Mobile Computing Conference <b>(IWCMC)</b>, Paphos, Cyprus, (2016). [Acceptance Rate: 33%]</li>
</ol>
<h3>Journals</h3>
<h3>2022</h3>
<ol>
  <li>Rana Tallal Javed, Mirza Elaaf Shuja, Muhammad Usama, Junaid Qadir, <b>Waleed Iqbal</b>, Gareth Tyson, Ignacio Castro and Kiran Garimella. A Deep Dive into COVID-19-Related Messages on WhatsApp in Pakistan. In Social Network Analysis and Mining <b>(SNAM)</b> (2022)</li>
</ol>
<h3>2020</h3>
<ol>
  <li>Adnan Qayyum, Aneeqa Ijaz, Muhammad Usama, <b>Waleed Iqbal</b>, Junaid Qadir, Yehia Elkhatib, and Ala Al-Fuqaha. Securing machine learning in the cloud: A systematic review of cloud machine learning security. <b>Frontiers in Big Data</b> (2020).</li>
  <li>Siddique Latif, Muhammad Usman, Sanaullah Manzoor, <b>Waleed Iqbal</b>, Junaid Qadir, Gareth Tyson, Ignacio Castro, Adeel Razi, Maged N. Kamel Boulos, Adrian Weller and Jon Crowcroft. Leveraging Data Science To Combat COVID-19: A Comprehensive Review. In <b>IEEE Transactions on Artificial Intelligence (TAI)</b> (2020)</li>
</ol>
<h3>2019</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Junaid Qadir, Rana Tallal Javed, Adnan Noor Mian, Jon Crowcroft and Gareth Tyson. Five Decades of the ACM Special Interest Group on Data Communications (SIGCOMM): A Bibliometric Perspective. In <b>ACM Computer Communication Review</b>, Vol. 49, No. 5 (2019). [Impact Factor: 3.577]</li>
  <li><b>Waleed Iqbal</b>, Junaid Qadir, Gareth Tyson, Adnan Noor Mian, Saeed Ul Hassan, Jon Crowcroft. A Bibliometric Analysis of Publications in Computer Networking Research. In <b>Springer Scientometrics Journal</b>, Vol. 119, No. 2 (2019). [Impact Factor: 2.173]</li>
</ol>
<h3>Posters</h3>
<h3>2022</h3>
<ol>
  <li><b>Waleed Iqbal</b>, Gareth Tyson, Vahid Ghafouri, Guillermo Suarez-Tangil, and Ignacio Castro. "Exploring online manifestations of real-world inequalities. In 22nd ACM Internet Measurement Conference <b>(IMC)</b>, Nice, France, (2022).</li>
</ol>
<h3>2021</h3>
<ol>
  <li>Stephen McQuistin, Mladen Karan, Prashant Khare, Colin Perkins, Gareth Tyson, Matthew Purver, Patrick Healey, <b>Waleed Iqbal</b>, Junaid Qadir and Ignacio Castro. Characterising the IETF Through the Lens of RFC Deployment. In 21st ACM Internet Measurement Conference <b>(IMC)</b>, Virtual (2021).</li>
</ol>
<h3>2016</h3>
<ol>
  <li>Tabish Manzoor, <b>Waleed Iqbal</b>, Eisha Tir Razia, and Samia Razaq. Bridging Educational Gaps through Volunteers; Implementation, Problems and Their Solutions. In Eighth International Conference on Information and Communication Technologies and Development <b>(ICTD)</b>, Ann Arbor, Michigan, USA, (2016).</li>
</ol>  

<!-- <ul>{% for post in site.articles reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul> -->
<h2>Academic Services</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;">Reviewer, International AAAI Conference on Web and Social Media (ICWSM), 2023</span></li>
  <li><span style="font-size: medium;">Shadow Technical Program Committee Member, ACM Internet Measurement Conference (IMC), 2022</span></li>
  <li><span style="font-size: medium;">Reviewer, ACM SIGCOMM Computer Communication Review, 2019</span></li>
  <li><span style="font-size: medium;">Reviewer, IEEE Access, 2019</span></li>
  <li><span style="font-size: medium;">Reviewer, Springer Human-centric Computing and Information Sciences, 2019</span></li>
  <li><span style="font-size: medium;">Reviewer, SAGE One, 2019</span></li>
</ul>