---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://waleediqbal411.github.io/waleed_cv.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Waleed Iqbal</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;">waleediqbal411 [at] gmail.com | <a href="http://waleediqbal411.github.io/">http://waleediqbal411.github.io</a> | <a href="http://www.twitter.com/waleediqbal411">@waleediqbal411</a> | <a href="https://scholar.google.com/citations?hl=en&user=uXhMEBsAAAAJ">Google Scholar</a></span></p>

<h2 class="western">Education:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Doctor of Philosophy (Ph.D.), </b></span><strong><span style="font-size: medium;"><b>Computer Science</b></span></strong><span style="font-size: medium;"><b>, Queen Mary University of London, UK</b></span>
<ul>
  <li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> January 2020 to Present</span></li>
  <li><b><span style="font-size: medium;">Research Topic:</b></span><span style="font-size: medium;"> Information Diffusion in Community Specific Social Networks</span></li>
  <li><span style="font-size: medium;"><b>Advisors:</b></span><span style="font-size: medium;"> Dr. Ignacio Castro and Dr. Gareth Tyson</span></li>
</ul>
</li>
</ul>

<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.S., </b></span><strong><span style="font-size: medium;"><b>Computer Science</b></span></strong><span style="font-size: medium;"><b>, Information Technology University, Lahore, Pakistan</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> June 2018</span></li>
  <li><b><span style="font-size: medium;">Graduate Thesis:</b></span><span style="font-size: medium;"> Analysis of Computer Networking Research: An Bibliometric Study</span></li>
  <li><span style="font-size: medium;"><b>Advisor: </b>Prof.</span><span style="font-size: medium;"> Dr. Junaid Qadir</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.Sc., Electrical Engineering,</b> <b>University of the Punjab</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date: </b></span></strong><span style="font-size: medium;">March 2014</span></li>
  <li><span style="font-size: medium;"><b>Final Year Project</b>: Analysis of VoIP Structure and Standards: {Deployment of an Open Source VoIP Network for an Organization with Enhanced Services}</li></span>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Ph.D Research Assistant</b>, Queen Mary University of London, UK (January 2020 to present)</span></li>
  <li><span style="font-size: medium;"><b>Teaching and Research Assistant</b>, Information Technology University Lahore, Pakistan (November 2015 - December 2019)</span></li>
  <li><span style="font-size: medium;"><b>Consultant, Linux VoIP Services </b>, Net2Soft Technologies (March 2014 to October 2015)</span></li>
  <li><span style="font-size: medium;"><b>Engineering Intern </b>, PTCL, Lahore (August 2011 to September 2011)</span></li>
</ul>
<h2>Publications</h2>
  <ul>{% for post in site.articles reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
<h2>Academic Services</h2>
<h3>Reviewer:</h3>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;">ACM SIGCOMM Computer Communication Review</span></li>
  <li><span style="font-size: medium;">IEEE Access</span></li>
  <li><span style="font-size: medium;">Springer Human-centric Computing and Information Sciences</span></li>
  <li><span style="font-size: medium;">SAGE One</span></li>
</ul>