---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://hasyarshad.github.io/haseeb-cv.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Muhammad Haseeb Arshad</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;">haseeb.arshad.ee [at] gmail.com | <a href="http://hasyarshad.github.io/">http://hasyarshad.github.io</a> | <a href="http://www.twitter.com/_haseebarshad">@_haseebarshad</a> | <a href="https://scholar.google.com/citations?user=-nga1p4AAAAJ&hl=en">Google Scholar</a></span></p>

<h2 class="western">Education:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.Sc., </b></span><strong><span style="font-size: medium;"><b>Electrical Engineering with Specialiazation in Control Systems</b></span></strong><span style="font-size: medium;"><b>, King Fahd University of Petroleum & Minerals</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> January 2018 to Present</span></li>
  <li><b><span style="font-size: medium;">Graduate Thesis:</b></span><span style="font-size: medium;"> Intelligent Model Predictive Torque Control of Induction Motor</span></li>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Prof. Dr. Mohammed Ali Abido</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.Sc., Electrical Engineering</b>, <b>University of Engineering & Technology</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> June 2017</span></li>
 	<li><span style="font-size: medium;"><b>Master’s Thesis</b>: An Advanced Direct Torque Control of Two Phase Symmertrical Induction Motor fed with B4 Inverter</li</span>
 	<li><span style="font-size: medium;"><b>Advisor: </b>Prof.</span><span style="font-size: medium;"> Khalid Mehmood-ul-Hassan</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.Sc., Electrical Engineering,</b> <b>University of the Punjab</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date: </b></span></strong><span style="font-size: medium;">May 2007</span></li>
  <li><span style="font-size: medium;"><b>Senior Thesis</b>: Lifelike Behavior based Wandering Autonomous Robot</li></span>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Engr. Hafiz Muhammad Saeed</span></li>
</ul>
</li>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Graduate Assistant</b>, EE-460: Power Electronics at Department of Electrical Engineering, KFUPM, KSA (Oct 2018 to present)</span></li>
  <li><span style="font-size: medium;"><b>Site Engineer</b>, MUGHAL TRADERS (December 2015 - January 2017)</span></li>
  <li><span style="font-size: medium;"><b>Design Engineer</b>, Freelancer (May 2011 to Present)</span></li>
</ul>
<h2>Summary of Scholarly Impact</h2>
<ul style="line-height: 1.5; margin: 10px 0;">

  <li><span style="font-size: medium;"><b>Publications:</b> 5 publications with good Reputed IEEE Conferences</li>
  <li><span style="font-size: medium;"><b>Presentations:</b> Over 15 talks, including 2 invited talks</li>
</ul>
<h2>Publications</h2>
  <ul>{% for post in site.articles reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Topical:</b> collaboration, socialization, literacy, decentralized communities, specifically new/social media platforms and scientific research networks</span></li>
 	<li><span style="font-size: medium;"><b>Disciplinary:</b> computer-supported cooperative work (CSCW), science and technology studies (STS), data science studies, critical algorithm studies</span></li>
 	<li><span style="font-size: medium;"><b>Theoretical:</b> power electronic converters, optimization theory, adaptive control, machine drive, model predictive control, machine learning</span></li>
 	<li><span style="font-size: medium;"><b>Methodological:</b></span>
<ul>
 	<li><span style="font-size: medium;">Design & simulation using MATLAB/Simulink & Multisim</span></li>
 	<li><span style="font-size: medium;">Quantitative collection and analysis of data with JMP & R</span></li>
 	<li><span style="font-size: medium;">Experimental design, testing, and analysis</span></li>
 	<li><span style="font-size: medium;">Reporting either with MS Word or Latex</span></li>
</ul>
</li>
</ul>
