/* h1 {
    color: purple;
} */

.profile_pic{
  display: inline;
}

.main-tabs
{
  margin: 20px;
}



.falafel {
    color: rgb(37, 74, 64);
    font-family: "Courier New", monospace;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 5px;
}
#blog div h1 {
    color: blue;
  }
  a:hover {
    color: orange;
  }
  button.btn-primary:hover{
    color: black;
  }